<form [class]="styles.form" (ngSubmit)="onSubmit()">
  <div [class]="styles.inputGroup">
    <p [class]="styles.field">
      <label [class]="styles.label" for="initial-investment">Initial Investment</label>
      <input [class]="styles.input" id="initial-investment" type="number" />
    </p>
    <p [class]="styles.field">
      <label [class]="styles.label" for="annual-investment">Annual Investment</label>
      <input [class]="styles.input" id="annual-investment" type="number" />
    </p>
  </div>

  <div [class]="styles.inputGroup">
    <p [class]="styles.field">
      <label [class]="styles.label" for="expected-return">Expected Return</label>
      <input [class]="styles.input" id="expected-return" type="number" />
    </p>
    <p [class]="styles.field">
      <label [class]="styles.label" for="duration">Duration</label>
      <input [class]="styles.input" id="duration" type="number" />
    </p>
  </div>
  <p>
    <button [class]="styles.button" type="submit">Calculate</button>
  </p>
</form>
