<app-places-container title="Available Places">
  @if (isLoading()) {
    <p class="fallback-text">Loading places...</p>
  }

  @if (error()) {
    <p class="fallback-text">Error: {{ error() }}</p>
  }

  @if (!isLoading() && !error() && places().length === 0) {
    <p class="fallback-text">Unfortunately, no places could be found.</p>
  }

  @if (!isLoading() && !error() && places().length > 0) {
    <app-places [places]="places()" (selectPlace)="onSelectPlace($event)" />
  }
</app-places-container>
