<form [formGroup]="testForm" (ngSubmit)="onSubmit()">
  <h2>Seventh Component Form</h2>
  <input type="text" placeholder="Enter something" formControlName="firstInput" />
  @if (!testForm.controls.firstInput.valid && testForm.controls.firstInput.touched) {
    <p class="error">{{ testForm.controls.firstInput.errors | json }}</p>
  } @else {
    <p></p>
  }

  <input type="text" placeholder="Enter something else" formControlName="secondInput" />
  @if (!testForm.controls.secondInput.valid && testForm.controls.secondInput.touched) {
    <p class="error">{{ testForm.controls.secondInput.errors | json }}</p>
  } @else {
    <p></p>
  }
  <button type="submit">Submit</button>
</form>
