form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
  min-width: 300px;
}

h2 {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

p {
  font-size: 12px;
  margin-top: 5px;
  height: 5px;
}

p.error {
  color: red;
}
