@import 'tailwindcss';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}

/*!classe customizada para evitar mudança de layout ao aparecer o scroll*/
@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }

  .scrollbar-stable-both {
    scrollbar-gutter: stable both-edges;
  }

  /* Custom scrollbar para navegadores baseados em Webkit (Chrome, Edge, Safari) */
  .sidebar-scrollbar-personalizado::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  .sidebar-scrollbar-personalizado::-webkit-scrollbar-thumb {
    background: #64748b33; /* cor do thumb, ajuste conforme seu tema */
    border-radius: 8px;
  }

  .sidebar-scrollbar-personalizado::-webkit-scrollbar-thumb:hover {
    background: #64748b66;
  }

  /* Firefox */
  .sidebar-scrollbar-personalizado {
    scrollbar-width: thin;
    scrollbar-color: #64748b33 transparent;
  }
}
