<div class="min-h-screen bg-slate-50 text-slate-900">
  <app-header />

  <main [class]="styles.main">
    <ul [class]="styles.users">
      @for (user of users; track $index) {
        <!-- padrão angular 17+  -->
        <li>
          <app-user [user]="user" (select)="onSelectUser($event)" />
        </li>
      }

      <!-- padrão angular 16-  -->
      <!-- <li *ngFor="let user of users">
        <app-user [user]="user" (select)="onSelectUser($event)" />
      </li> -->
    </ul>

    <!-- padrão angular 17+  -->
    @if (selectedUser) {
      <app-tasks [name]="selectedUser.name" />
    } @else {
      <p id="fallback">No user selected</p>
    }

    <!-- padrão angular 16-  -->
    <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser.name" />
    <ng-template #fallback>
      <p id="fallback">No user selected</p>
    </ng-template> -->
  </main>
</div>
